<!-- Page Content -->
<div class="container"  >
  <div id="formbox"  class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
    <div class="panel panel-default" >
      <div class="panel-heading">
        <div class="panel-title"> Database Connection</div> 
        </div>
 <div  class="panel-body" >
      
    <%= form_tag('http://far.away.com/form', authenticity_token: false)  do  %>
       
  <div class="form-group">
     <label>Host </label>
     <input class="form-control"   placeholder="Host" />
     <em>Example : localhost</em> 

  </div>
  <div class="form-group">
     <label>Username </label>
     <input class="form-control"   placeholder="Username" />
     <em>Example : root</em> 
  </div>
  <div class="form-group">
     <label>Password </label>
     <input class="form-control"   placeholder="Password" />
     <em>Example : &lt; password &gt;</em> 
  </div>
  <div class="form-group">
     <label>Type of Database </label>
     <select class="form-control">
     	<option>Mysql</option>
     </select>
      
  </div>


  <div  class="form-group submitbtn"> 
    <div class="col-sm-12 controls">  
      <input type="submit" class="btn btn-info btn-md btn-block" value="Connect" />
    </div>
  </div>
<% end %>
<!-- /.container -->
<!-- /.Page Content -->
</div>
</div>
</div>
</div>
 