<% if notice %>	
<div class="alert alert-warning">

<a href="#" class="close" data-dismiss="alert">&times;</a>
 <%= notice %>

</div>

<% end %>

<% if alert %>
<div class="alert alert-danger">

<a href="#" class="close" data-dismiss="alert">&times;</a>
 <%= alert %>

</div>
<% end %>